html, body{
margin: 0;
padding: 0
}

header{
background: black;
padding:5px;
}
.header_container{
text-align: right;
width:100%;
}
.goods-item {
     float: left; 
     line-height: 10px;
     font-size: 40px;
     background: dodgerblue;
     color: white;
     margin-top: 60px;
     width: 180px; 
     margin-left: 10px;
     text-align: center; 
    }
.goods-item img{
	width:150px;
}